<template>
  <div class="task">
    <div class="task-title">
      <label v-if="!task.deleted" @click="task.complete = !task.complete" style="display: flex; gap: 20px">
        <input type="checkbox" name="" id="" :checked="task.complete">
        <p v-if="!task.important" v-html="highlightMatch(task.title, task.matchWord)"></p>
        <p v-else style="color: #F2C94C; font-weight: 400" v-html="highlightMatch(task.title, task.matchWord)"></p>
      </label>
      <div v-else><p>{{ task.title }}</p></div>
    </div>
    <div class="task-tags">
      <SingleTag v-for="tag in task.tags" :tag="tag"/>
    </div>
    <div class="task-date width-20">{{ task.endDate }}</div>
    <div v-if="!task.deleted" @click="openModal" class="icon width-5">
      <img src="/icons/icon-delete-svg.svg" alt="delete icon">
    </div>
    <div v-if="!task.deleted" class="icon width-5"><img src="/icons/Icon-dots.png"></div>
    <div v-else class="icon width-5" @click="restore(task.id)"><img src="/icons/rotate-ccw.png"></div>
    <Modal v-if="isModalOpen" title="" modal-class="modal-delete" @update:on="isModalOpen = false">
      <ConfirmationModal :id="task.id" @update:on="isModalOpen=false"/>
    </Modal>
  </div>
</template>
<script setup lang="ts">
import {defineProps, ref} from 'vue';
import {ITask} from "../../commons/interfaces.ts";
import SingleTag from "../SingleTag.vue";
import {useTaskStore} from "../../stores/tasks.store.ts";
import {useDeletedTaskStore} from "../../stores/deletedTasks.store.ts";
import {highlightMatch} from "../../commons/utilities.ts";
import Modal from "../UIComponents/Modal.vue";
import ConfirmationModal from "../ConfirmationModal.vue";


const isModalOpen = ref(false);
const openModal = () => {
  isModalOpen.value = true;
};
defineProps<{ task: ITask }>();
const taskStore = useTaskStore();
const deletedTaskStore = useDeletedTaskStore();
const restore = (id: string) => {
  const taskToRestore = deletedTaskStore.tasks.find(task => task.id === id);
  if (taskToRestore) {
    taskToRestore.deleted = false;
    taskStore.tasks.push(taskToRestore);
    deletedTaskStore.deleteTask(id);
  }
}
</script>

<style>
.modal-delete {
  width: 40%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--border-color) 1px solid;
  min-height: 57px;
  padding: 0 10px;
}

.task-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 40%;
}

.task-title {
  width: 40%;
  font-size: 14px;
}

.width-5 {
  width: 4%;
  display: flex;
  justify-content: center;
}

.width-20 {
  width: 20%;
}

.task-date {
  font-size: 12px;
}

.icon {
  cursor: pointer;
}
</style>