<template>
  <div v-if="tasks.length" class="task-list">
    <SingleTask
        v-for="task in sortedTasks()"
        :key="task.id"
        :task="task"/>
  </div>
  <div v-else class="no-content"><h3>Нет задач для отображения!</h3></div>

</template>
<script setup lang="ts">
import SingleTask from "./SingleTask.vue";
import {ITask} from "../../commons/interfaces.ts";
import {useFilterStore} from "../../stores/filter.store.ts";
import {computed} from "vue";

const filterStore = useFilterStore();
const tagFilter = computed(() => filterStore.filters);
const props = defineProps<{ tasks: ITask[] }>();

const sortedTasks = (): ITask[] => {
  if (tagFilter.value.length) return props.tasks.filter(task => task.tags?.some(tag => tagFilter.value.includes(tag)));
  else return  props.tasks;
}
</script>