<template>
  <tasks-list :tasks="tasks"/>
</template>
<script setup lang="ts">
import TasksList from "../components/tasks/TasksList.vue";
import {useTaskStore} from "../stores/tasks.store.ts";
import {computed} from "vue";

const taskStore = useTaskStore();
const tasks = computed(()=> taskStore.getCompletes())
</script>