<template>
  <tasks-list :tasks="tasks"/>
</template>
<script setup lang="ts">
import TasksList from "../components/tasks/TasksList.vue";
import {useDeletedTaskStore} from "../stores/deletedTasks.store.ts";
import {computed} from "vue";

const deletedTasks = useDeletedTaskStore();
const tasks = computed(() => deletedTasks.tasks);
</script>