<template>
  <TasksList :tasks="tasks"/>
</template>
<script setup lang="ts">
import TasksList from "../components/tasks/TasksList.vue";
import {computed} from "vue";
import {useSearchTasksStore} from "../stores/searchTasks.store.ts";

const searchTaskStore = useSearchTasksStore();
const tasks = computed(() => searchTaskStore.tasks)
</script>