<template>
  <div v-if="on" class="modal-wrapper">
    <div @click="closeModal" class="modal-background">
      <div @click.stop class="modal" :class="modalClass">
        <div class="modal-title">{{ title }}</div>
        <div class="modal-content">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {ref, defineProps, defineEmits} from 'vue';
import {IModalProps} from "../../commons/interfaces.ts";

defineProps<IModalProps>();
const emit = defineEmits(['update:on']);
const on = ref(true);

const closeModal = () => {
  on.value = false;
  emit('update:on', on.value);
};
</script>

<style scoped>
.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  padding: 2%;
  border-radius: 5px;
  min-width: 150px;
  min-height: 80px;
  background-color: var(--main-background-color);
  z-index: 10;
}
</style>
