<template>
  <button :type="type" class="task-btn"> {{ btnTitle }}</button>
</template>
<script lang="ts" setup>

defineProps(['type', 'btnTitle'])
</script>
<style>
.task-btn {
  background-color: var(--button-bg-color);
  padding: 11px 28px;
  border-radius: 5px;
  font-size: 14px;
  color: #ffff;
  cursor: pointer;
  border: var(--button-bg-color) solid 1px;
}

.task-btn:hover {
  color: var(--button-bg-color);
  border: var(--button-bg-color) solid 1px;
  background-color: transparent;
}
</style>