<template>
  <div class="sidebar-content">
    <Modal v-if="isModalOpen" :title="'Задача'" :modalClass="'modal-class'" @update:on="isModalOpen = false">
      <new-task-form @update:on="isModalOpen=false"/>
    </Modal>
    <TaskButton @click="openModal" type="button" btn-title="Новая задача"/>
    <ul>
      <li>
        <RouterLink class="sidebar-list" to="/myTasks" active-class="activeTab">
          <div class="sidebar-list__icon">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="red" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.6668 2.5H3.3335C1.91683 2.5 0.833496 3.58333 0.833496 5V15C0.833496 16.4167 1.91683 17.5 3.3335 17.5H16.6668C18.0835 17.5 19.1668 16.4167 19.1668 15V5C19.1668 3.58333 18.0835 2.5 16.6668 2.5ZM3.3335 4.16667H16.6668C17.0002 4.16667 17.2502 4.33333 17.4168 4.66667L10.0002 9.83333L2.5835 4.66667C2.75016 4.33333 3.00016 4.16667 3.3335 4.16667ZM3.3335 15.8333H16.6668C17.1668 15.8333 17.5002 15.5 17.5002 15V6.58333L10.5002 11.5C10.3335 11.5833 10.1668 11.6667 10.0002 11.6667C9.8335 11.6667 9.66683 11.5833 9.50016 11.5L2.50016 6.58333V15C2.50016 15.5 2.8335 15.8333 3.3335 15.8333Z"
                    fill="black"/>
              <mask id="mask0_9_707" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="2" width="20"
                    height="16">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M16.6668 2.5H3.3335C1.91683 2.5 0.833496 3.58333 0.833496 5V15C0.833496 16.4167 1.91683 17.5 3.3335 17.5H16.6668C18.0835 17.5 19.1668 16.4167 19.1668 15V5C19.1668 3.58333 18.0835 2.5 16.6668 2.5ZM3.3335 4.16667H16.6668C17.0002 4.16667 17.2502 4.33333 17.4168 4.66667L10.0002 9.83333L2.5835 4.66667C2.75016 4.33333 3.00016 4.16667 3.3335 4.16667ZM3.3335 15.8333H16.6668C17.1668 15.8333 17.5002 15.5 17.5002 15V6.58333L10.5002 11.5C10.3335 11.5833 10.1668 11.6667 10.0002 11.6667C9.8335 11.6667 9.66683 11.5833 9.50016 11.5L2.50016 6.58333V15C2.50016 15.5 2.8335 15.8333 3.3335 15.8333Z"
                      fill="white"/>
              </mask>
              <g mask="url(#mask0_9_707)">
                <rect class="svg-list__icon" width="20" height="20" fill="#D0D2D6"/>
              </g>
            </svg>
          </div>
          <div class="sidebar-list__text">Мои задачи</div>
        </RouterLink>
      </li>
      <li class="sidebar-list">
        <RouterLink class="sidebar-list" to="/important_tasks" active-class="activeTab">
          <div class="sidebar-list__icon">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M18.4713 6.84447C18.8035 6.92767 19.0526 7.09407 19.1357 7.42686C19.2187 7.67646 19.1357 8.00925 18.8865 8.17565L15.0662 11.9196L15.9798 17.2443C16.0628 17.5771 15.8967 17.9099 15.6476 18.0763C15.4815 18.1595 15.3154 18.2427 15.1493 18.2427H14.734L10.0002 15.7467L5.2663 18.2427C4.9341 18.4091 4.6019 18.3259 4.35275 18.1595C4.1036 17.9931 3.9375 17.6603 4.02055 17.3275L4.9341 12.0028L1.11379 8.25885C0.86464 8.09245 0.78159 7.75965 0.86464 7.42686C1.03074 7.09407 1.27989 6.84447 1.61209 6.84447L6.84425 6.01248L9.25271 1.27017C9.50186 0.687777 10.4985 0.687777 10.7476 1.27017L13.1561 6.09568L18.4713 6.84447ZM13.3222 11.8364C13.3222 11.5868 13.4052 11.3372 13.5713 11.0876L16.5611 8.17565L12.4917 7.59326C12.1595 7.59326 11.9103 7.42686 11.8273 7.17726L10.0002 3.51653L8.17306 7.26046C8.00696 7.42686 7.75781 7.67646 7.50866 7.67646L3.4392 8.25885L6.429 11.0876C6.5951 11.3372 6.67815 11.5868 6.67815 11.8364L5.9307 15.9131L9.58491 13.9995C9.83406 13.8331 10.0832 13.8331 10.3324 13.9995L13.9866 15.9131L13.3222 11.8364Z"
                    fill="black"/>
              <mask id="mask0_9_706" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                    height="19">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M18.4713 6.84447C18.8035 6.92767 19.0526 7.09407 19.1357 7.42686C19.2187 7.67646 19.1357 8.00925 18.8865 8.17565L15.0662 11.9196L15.9798 17.2443C16.0628 17.5771 15.8967 17.9099 15.6476 18.0763C15.4815 18.1595 15.3154 18.2427 15.1493 18.2427H14.734L10.0002 15.7467L5.2663 18.2427C4.9341 18.4091 4.6019 18.3259 4.35275 18.1595C4.1036 17.9931 3.9375 17.6603 4.02055 17.3275L4.9341 12.0028L1.11379 8.25885C0.86464 8.09245 0.78159 7.75965 0.86464 7.42686C1.03074 7.09407 1.27989 6.84447 1.61209 6.84447L6.84425 6.01248L9.25271 1.27017C9.50186 0.687777 10.4985 0.687777 10.7476 1.27017L13.1561 6.09568L18.4713 6.84447ZM13.3222 11.8364C13.3222 11.5868 13.4052 11.3372 13.5713 11.0876L16.5611 8.17565L12.4917 7.59326C12.1595 7.59326 11.9103 7.42686 11.8273 7.17726L10.0002 3.51653L8.17306 7.26046C8.00696 7.42686 7.75781 7.67646 7.50866 7.67646L3.4392 8.25885L6.429 11.0876C6.5951 11.3372 6.67815 11.5868 6.67815 11.8364L5.9307 15.9131L9.58491 13.9995C9.83406 13.8331 10.0832 13.8331 10.3324 13.9995L13.9866 15.9131L13.3222 11.8364Z"
                      fill="white"/>
              </mask>
              <g mask="url(#mask0_9_706)">
                <rect class="svg-list__icon" width="20" height="20" fill="#D0D2D6"/>
              </g>
            </svg>
          </div>
          <div class="sidebar-list__text">Важные</div>
        </RouterLink>
      </li>
      <li class="sidebar-list">
        <RouterLink class="sidebar-list" to="/complete_tasks" active-class="activeTab">
          <div class="sidebar-list__icon">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M17.25 6.41667L8.08333 15.5833C7.91667 15.75 7.75 15.8333 7.5 15.8333C7.25 15.8333 7.08333 15.75 6.91667 15.5833L2.75 11.4167C2.41667 11.0833 2.41667 10.5833 2.75 10.25C3.08333 9.91667 3.58333 9.91667 3.91667 10.25L7.5 13.8333L16.0833 5.25C16.4167 4.91667 16.9167 4.91667 17.25 5.25C17.5833 5.58333 17.5833 6.08333 17.25 6.41667Z"
                  fill="black"/>
              <mask id="mask0_9_708" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="2" y="5" width="16"
                    height="11">
                <path
                    d="M17.25 6.41667L8.08333 15.5833C7.91667 15.75 7.75 15.8333 7.5 15.8333C7.25 15.8333 7.08333 15.75 6.91667 15.5833L2.75 11.4167C2.41667 11.0833 2.41667 10.5833 2.75 10.25C3.08333 9.91667 3.58333 9.91667 3.91667 10.25L7.5 13.8333L16.0833 5.25C16.4167 4.91667 16.9167 4.91667 17.25 5.25C17.5833 5.58333 17.5833 6.08333 17.25 6.41667Z"
                    fill="white"/>
              </mask>
              <g mask="url(#mask0_9_708)">
                <rect class="svg-list__icon" width="20" height="20" fill="#D0D2D6"/>
              </g>
            </svg>
          </div>
          <div class="sidebar-list__text">Выполненные</div>
        </RouterLink>
      </li>
      <li class="sidebar-list">
        <RouterLink class="sidebar-list" to="/deleted_tasks" active-class="activeTab">
          <div class="sidebar-list__icon">
            <svg class="sidebar-list__icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M17.4998 4.16671H14.1665V3.33337C14.1665 1.91671 13.0832 0.833374 11.6665 0.833374H8.33317C6.9165 0.833374 5.83317 1.91671 5.83317 3.33337V4.16671H2.49984C1.99984 4.16671 1.6665 4.50004 1.6665 5.00004C1.6665 5.50004 1.99984 5.83337 2.49984 5.83337H3.33317V16.6667C3.33317 18.0834 4.4165 19.1667 5.83317 19.1667H14.1665C15.5832 19.1667 16.6665 18.0834 16.6665 16.6667V5.83337H17.4998C17.9998 5.83337 18.3332 5.50004 18.3332 5.00004C18.3332 4.50004 17.9998 4.16671 17.4998 4.16671ZM7.49984 3.33337C7.49984 2.83337 7.83317 2.50004 8.33317 2.50004H11.6665C12.1665 2.50004 12.4998 2.83337 12.4998 3.33337V4.16671H7.49984V3.33337ZM14.1665 17.5C14.6665 17.5 14.9998 17.1667 14.9998 16.6667V5.83337H4.99984V16.6667C4.99984 17.1667 5.33317 17.5 5.83317 17.5H14.1665Z"
                    fill="black"/>
              <mask id="mask0_9_705" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="0" width="18"
                    height="20">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M17.4998 4.16671H14.1665V3.33337C14.1665 1.91671 13.0832 0.833374 11.6665 0.833374H8.33317C6.9165 0.833374 5.83317 1.91671 5.83317 3.33337V4.16671H2.49984C1.99984 4.16671 1.6665 4.50004 1.6665 5.00004C1.6665 5.50004 1.99984 5.83337 2.49984 5.83337H3.33317V16.6667C3.33317 18.0834 4.4165 19.1667 5.83317 19.1667H14.1665C15.5832 19.1667 16.6665 18.0834 16.6665 16.6667V5.83337H17.4998C17.9998 5.83337 18.3332 5.50004 18.3332 5.00004C18.3332 4.50004 17.9998 4.16671 17.4998 4.16671ZM7.49984 3.33337C7.49984 2.83337 7.83317 2.50004 8.33317 2.50004H11.6665C12.1665 2.50004 12.4998 2.83337 12.4998 3.33337V4.16671H7.49984V3.33337ZM14.1665 17.5C14.6665 17.5 14.9998 17.1667 14.9998 16.6667V5.83337H4.99984V16.6667C4.99984 17.1667 5.33317 17.5 5.83317 17.5H14.1665Z"
                      fill="white"/>
              </mask>
              <g mask="url(#mask0_9_705)">
                <rect class="svg-list__icon" width="20" height="20" fill="#D0D2D6"/>
              </g>
            </svg>
          </div>
          <div class="sidebar-list__text">Удаленные</div>
        </RouterLink>
      </li>
    </ul>
    <div>Теги</div>
    <ul>
      <li class="sidebar-list filter-item " @click="clickToFilter" name="productivity"
          :class="filterItem.productivity ? 'selected' : ''">
        <div class="sidebar-list__icon"><img src="/icons/Dot.png" alt="dots"></div>
        <div class="sidebar-list__text">Продуктивность</div>
      </li>
      <li class="sidebar-list filter-item " @click="clickToFilter" name="education"
          :class="filterItem.education ? 'selected' : ''">
        <div class="sidebar-list__icon"><img src="/icons/Dot%20green.png" alt="green dot"></div>
        <div class="sidebar-list__text">Образование</div>
      </li>
      <li class="sidebar-list filter-item " @click="clickToFilter" name="health"
          :class="filterItem.health ? 'selected' : ''">
        <div class="sidebar-list__icon"><img src="/icons/Dot%20oringe.png" alt="orange dot"></div>
        <div class="sidebar-list__text">Здоровье</div>
      </li>
      <li class="sidebar-list filter-item" @click="clickToFilter" name="urgent"
          :class="filterItem.urgent ? 'selected' : ''">
        <div class="sidebar-list__icon"><img src="/icons/Dot%20red.png" alt="ref dot"></div>
        <div class="sidebar-list__text">Срочно</div>
      </li>
    </ul>
  </div>
</template>
<script setup lang="ts">
import TaskButton from "./TaskButton.vue";
import Modal from "./Modal.vue";
import {computed, ref} from "vue";
import NewTaskForm from "../NewTaskForm.vue";
import {useFilterStore} from "../../stores/filter.store.ts";

const filterStore = useFilterStore();
const filters = computed(() => filterStore.filters);
const filterItem = computed(() => filterStore.activeFilters);
const clickToFilter = (event: MouseEvent) => {
  const nameAtr = (event.currentTarget as HTMLElement).getAttribute('name') as keyof typeof filterItem.value;
  if (nameAtr) filterItem.value[nameAtr] = !filterItem.value[nameAtr];
  if (filterItem.value[nameAtr]) {
    filters.value.push(nameAtr);
  } else {
    filterStore.filters = filters.value.filter((tagFilter) => tagFilter !== nameAtr);
  }
}
const isModalOpen = ref(false);
const openModal = () => {
  isModalOpen.value = true;
};
</script>

<style>
.filter-item {
  padding: 10px 7px;
  border-radius: 5px;
  border: transparent solid 1px;
  max-width: 200px;
}

.selected {
  border: var(--link-hover-color) solid 1px;
  background-color: transparent;
}

.sidebar-content {
  padding: 2% 3%;
}

.sidebar-list {
  display: flex;
  gap: 10px;
  margin-top: 6%;
  align-items: center;
  color: var(--sidebar-list-color);
  font-size: 14px;
  cursor: pointer;
}

.sidebar-list__text:hover + .svg-list__icon {
  fill: var(--link-hover-color);
  color: var(--link-hover-color);
}

.svg-list__icon:hover {
  color: var(--link-hover-color);
  fill: var(--link-hover-color);
}

.modal-class {
  top: 0;
  right: 0;
  bottom: 0;
  left: 70%;
  height: 100vh;
}

.activeTab,
.activeTab .svg-list__icon {
  color: var(--link-hover-color);
  fill: var(--link-hover-color);
}
</style>