<template>
  <div class="confirm-wrapper">
    <div class="confirm-icon"><img src="/icons/iconConfirm.png" alt="confirm icon"></div>
    <div class="confirm-title">Вы уверены?</div>
    <div class="confirm-warning">Вы не сможете востановить это!</div>
    <div class="confirm-btn-group">
      <TaskButton @click="deleteTask(id)" type="button" btn-title="Да, Удалить"/>
      <TaskButton @click="closeModal" class="cancel-btn" type="button" btn-title="Отмена"/>
    </div>
  </div>
</template>
<script setup lang="ts">
import TaskButton from "./UIComponents/TaskButton.vue";
import {useDeletedTaskStore} from "../stores/deletedTasks.store.ts";
import {useTaskStore} from "../stores/tasks.store.ts";
import {defineEmits, ref} from "vue";

defineProps(['id']);
const emit = defineEmits(['update:on']);

const on = ref(true);
const deletedTaskStore = useDeletedTaskStore();
const taskStore = useTaskStore();
const closeModal = () => {
  on.value = false;
  emit('update:on', on.value);
};

const deleteTask = (id: string) => {
  const taskToDelete = taskStore.tasks.find((task) => task.id === id);
  if (taskToDelete) {
    taskToDelete.deleted = true;
    deletedTaskStore.tasks.push(taskToDelete)
  }
  taskStore.deleteTask(id)
  closeModal();
};
</script>

<style>
.confirm-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5% 20%;
  text-align: center;
  color: var(--sidebar-list-color);
}
.confirm-wrapper div {
  margin-bottom: 10px;
}
.confirm-title {
  font-size: 21px;
}
.confirm-warning {
  font-size: 14px;
}
.confirm-btn-group {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}
.cancel-btn {
  background-color: var(--error-color);
  border-color: var(--error-color);
  color: var(--sidebar-list-color);
}
.cancel-btn:hover {
  color: var(--error-color);
  border: var(--error-color) solid 1px;
  background-color: transparent;
}
</style>