<template>
  <div class="task-form">
    <form @submit.prevent="saveTask">
      <div class="form-group">
        <label for="task-name">Название</label>
        <input
            required
            v-model="data.title"
            type="text"
            id="task-name"
            placeholder="Название задачи"
            @blur="validateField(data, 'title')"
        />
        <span v-if="errors.title" class="error">{{ errors.title }}</span>
      </div>
      <div class="form-group">
        <label for="task-deadline">Дата завершения задачи</label>
        <input
            required
            v-model="data.endDateOpt"
            type="text"
            id="task-deadline"
            placeholder="Завершения задачи"
            @blur="validateField(data, 'endDate')"
        />
        <span v-if="errors.endDate" class="error">{{ errors.endDate }}</span>
      </div>
      <div class="form-group">
        <input v-model="data.important" type="checkbox" id="important-task"/>
        <label for="important-task">Важная задача</label>
      </div>
      <div class="form-group">
        <label for="task-end-date">Дата и время окончания</label>
        <input
            required
            type="datetime-local"
            v-model="data.endDate"
            id="task-end-date"
            placeholder="Дата и время"
            @blur="validateField(data, 'endDate')"
        />
        <span v-if="errors.endDate" class="error">{{ errors.endDate }}</span>
      </div>
      <div class="form-group">
        <label for="task-description">Описание задачи</label>
        <textarea
            v-model="data.description"
            id="task-description"
            placeholder="Описание задачи"
        ></textarea>
      </div>
      <label>Тэги</label>
      <div class="form-group tags">
        <div>
          <div>
            <input v-model="tags.productivity" type="checkbox" id="productivity"/>
            <label for="productivity">Продуктивность</label>
          </div>
          <div>
            <input v-model="tags.health" type="checkbox" id="health"/>
            <label for="health">Здоровье</label>
          </div>
        </div>
        <div>
          <div>
            <input v-model="tags.education" type="checkbox" id="education"/>
            <label for="education">Образование</label>
          </div>
          <div>
            <input v-model="tags.urgent" type="checkbox" id="urgent"/>
            <label for="urgent">Срочно</label>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <task-button type="submit" btn-title="Добавить"/>
        <task-button type="button" btn-title="Удалить" @click="resetForm"/>
      </div>
    </form>
  </div>
</template>

<script setup lang="ts">
import TaskButton from "./UIComponents/TaskButton.vue";
import {useTaskStore} from "../stores/tasks.store.ts";
import {ITags, ITask} from "../commons/interfaces.ts";
import {Tags} from "../commons/dataSets/tags.ts";
import {defineEmits, ref, reactive} from "vue";
import {formatEndDate} from "../commons/utilities.ts";
import {validateField, validateForm, isFormValid, errors} from "../commons/validation.ts";

const emit = defineEmits(['update:on']);

const on = ref(true);
const taskStore = useTaskStore();
const closeModal = () => {
  on.value = false;
  emit('update:on', on.value);
};

const data: ITask = reactive({
  id: '',
  complete: false,
  endDate: '',
  endDateOpt: '',
  description: '',
  title: '',
  tags: [],
  important: false,
  deleted: false,
  matchWord: ''
});

const tags: ITags = reactive({} as ITags);

const saveTask = () => {
  validateForm(data);

  if (isFormValid()) {
    (Object.keys(tags) as Array<keyof typeof tags>).forEach(tag => {
      if (tags[tag]) {
        console.log(Tags[tag])
        data.tags?.push(Tags[tag]);
      }
    });
    data.id = Date.now().toString();
    data.endDate = formatEndDate(data.endDate);
    taskStore.tasks.push(data);
    closeModal();
  }
};

const resetForm = () => {
  data.title = '';
  data.endDate = '';
  data.endDateOpt = '';
  data.important = false;
  data.description = '';
  data.deleted = false;
  data.complete = false;
  data.tags = [];
  tags.productivity = false;
  tags.health = false;
  tags.education = false;
  tags.urgent = false;
  errors.title = '';
  errors.endDate = '';
};
</script>

<style>
.task-form {
  background-color: transparent;
  padding: 20px;
  max-width: 400px;
}

.task-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-right: 5%;
  margin-bottom: 15px;
}

.form-group input[type="text"],
.form-group input[type="datetime-local"],
.form-group textarea {
  color: var(--color-light);
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: transparent;
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.error {
  color: var(--error-color);
  font-size: 12px;
  margin-top: 5px;
}

.form-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
</style>
