<template>
  <div class="search-bar">
    <img src="/icons/icon-search.png">
    <input @click="navigateToSearch" @input="inputHandler" v-model="inputText" class="search-bar-input" type="text" placeholder="поиск">
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { useSearchTasksStore } from '../stores/searchTasks.store.ts';
import { useTaskStore } from '../stores/tasks.store.ts';
import {useRouter} from 'vue-router';

const router = useRouter();
const taskStore = useTaskStore();
const searchStore = useSearchTasksStore();
const inputText = ref('');
const tasks = computed(() => taskStore.tasks);

const inputHandler = () => {
  searchStore.setSearchResult(tasks.value, inputText.value);
}

const navigateToSearch = () => {
  router.push('/search');
}
</script>

<style>
input.search-bar-input {
  width: 100%;
  background-color: var(--main-background-color);
  box-sizing: border-box;
  border: none;
  padding: 0 10px;
  outline: none;
  color: var(--color-light);
  height: 100%;
}

.search-bar {
  display: flex;
  height: 57px;
  border: var(--border-color) 1px solid;
  align-items: center;
  padding-left: 10px;
}
.search-bar img {
  width: 20px;
  height: 20px;
}
</style>
