<template>
  <h4 :class="'tag ' + tag">{{ title }}</h4>
</template>
<script setup lang="ts">

const props = defineProps(['tag'])
let title: string;
switch (props.tag) {
  case 'education':
    title = "Образование"
    break
  case 'health':
    title = "Здоровье"
    break
  case 'urgent':
    title = "Срочно"
    break
  case 'productivity':
    title = "Продуктивность"
    break
}
</script>

<style>
.tag {
  font-size: 12px;
  border-radius: 10px;
  padding: 0 5px;
  margin: 0 3px;
}

.education {
  color: chartreuse;
  background-color: #173f07;
}

.urgent {
  color: #EA5455;
  background-color: #fca1a1;
}

.health {
  color: #FF9F43;
  background-color: #31394C;
}

.productivity {
  color: #7367F0;
  background-color: #31394C;
}
</style>