@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family: "Montserrat", sans-serif;
  --color-light: #B4B7BD;
  --background-color-dark: #242424;

  --link-color: #646cff;
  --link-hover-color: #9B51E0;

  --main-background-color: #283046;
  --border-color: #31394C;

  --error-color: #EA5455;
  --sidebar-list-color: #D0D2D6;
  --important-color: #F2C94C;
  --button-bg-color: #7367F0;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-light);
  background-color: var(--background-color-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

.mainPage {
  display: flex;
  justify-content: center;
  margin: 5% auto;
  max-width: 1242px;
  background-color: var(--main-background-color);
  border-radius: 5px;
  border: var(--border-color) 1px solid;
}

.task-sidebar {
  min-width: 20%;
  border: var(--border-color) 1px solid;
}

.task-main {
  width: 80%;
  border: var(--border-color) 1px solid;
}

.no-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light);
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}
.pageTitle {
  font-size: 19px;
  padding: 0 10px;
  height: 57px;
  margin: 0;
  align-content: center
}
