<template>
  <div class="mainPage">
    <TasksSidebar class="task-sidebar"/>
    <div class="task-main">
      <search-bar></search-bar>
      <page-title :page-title="pageTitle"/>
      <router-view></router-view>
    </div>
  </div>
</template>
<script setup lang="ts">
import TasksSidebar from "../components/UIComponents/TasksSidebar.vue";
import SearchBar from "../components/SearchBar.vue";
import PageTitle from "../components/PageTitle.vue";
import {useRoute} from "vue-router";
import {computed, ref} from "vue";
import {getPageTitle} from "../commons/utilities.ts";

const route = useRoute();
const focused = ref(false)
const pageTitle = computed(() => {
  return getPageTitle(route.path, focused.value)
})
</script>